<%= form_with(model: formulario, local: true) do |form| %>
  <% if formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulario.errors.count, "error") %> prohibited this formulario from being saved:</h2>

      <ul>
      <% formulario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :formulario_name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :formulario_color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
